<div class="delivery-info-page">
    <div class="info-holder">
        <div class="title-contact">{{'О магазине' | translate}}</div>
        <div class="">
            <p class="free-delivery-contact">{{'Интернет-магазин автозапчастей Autodoc.ua' | translate}}</p>
            <p class="title-red">{{'Бесплатная доставка на СТО Автодок по всей Украине от 2-х часов.' | translate}}</p>
            <p>{{'Качественные автозапчасти являются залогом бесперебойной работы автомобиля и длительности срока его эксплуатации. ' | translate}}</p>
            <p>{{'Широкий спектр услуг нашего магазина автозапчастей решит любую проблему, связанную с вашим автомобилем.' | translate}}</p>
            <p><b>{{'Ассортимент' | translate}}</b> {{'товара в магазине Autodoc.ua представлен как автозапчастями и расходными материалами оригинального производства, так и их качественными сертифицированными аналогами.  С помощью наших профессионалов вы сможете подобрать то, что нужно для вашего автомобиля. Мы реализуем весь спектр автотоваров:' | translate}}</p>
         </div>
        <div class="info-holder__text">            
            <ul>
                <li>{{'шины;' | translate}}</li>
                <li>{{'диски;' | translate}}</li>
                <li>{{'аккумуляторы;' | translate}}</li>
                <li>{{'компрессоры;' | translate}}</li>
                <li>{{'ремни ГРМ;' | translate}}</li>
                <li>{{'элементы кузова;' | translate}}</li>
                <li>{{'фильтры;' | translate}}</li>
                <li>{{'двигатели' | translate}}</li>
                <li>{{'и другие позиции.' | translate}}</li>
            </ul>
        </div>
        <div class="">
            <p>{{'Ассортимент представленных в магазине автозапчастей постоянно расширяется. Известные бренды в производстве деталей и комплектующих для авто – ABE, A.B.S., INA, Kayaba, Kolbenschmidt , LPR, Optimal, Profit, Ruville, Sachs, SKF, SNR, SWAG, TRW, Valeo, Wix Filters, др. Весь список производителей представлен в электронном каталоге Autodoc.ua.' | translate}}</p>
            <p>{{'Вы с легкостью сможете убедиться в компетентности специалистов по подбору запчастей, а также ощутите качество сервисного обслуживания. Наши сотрудники внимательно изучат ваш запрос и подберут самый оптимальный вариант решения проблемы с запчастями.' | translate}}</p>
            <p>{{'С помощью наших профессионалов вы сможете подобрать то, что нужно для вашего автомобиля.' | translate}}</p> 
            <p>{{'Наличие  складских помещений, которые  размещены по всей Украине, дает преимущество нашему магазину отправлять заказы  день в день. Удобная система заявки позволит оперативно принять ваш  заказ в любое удобное для вас время. В случае, если, деталь Вам не подойдет, мы  гарантируем возврат средств или моментальную замену автозапчасти.' | translate}}</p>
            <p>{{'Вы можете задать любой интересующий вас вопрос в онлайн поддержку. Бесплатная профессиональная консультация наших специалистов поможет вам сделать правильный выбор.' | translate}}</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <p><b>{{'Подбор автозапчастей под марку авто' | translate}}</b></p>
                <div>
                    <p>{{'Форма заявки на подбор деталей позволяет сделать быстрый подбор и заказ необходимой детали по VIN-коду автомобиля. Комплексная услуга подбора автозапчасти значительно сэкономит ваше время. Бесплатная доставка на автосервис сети Автодок в удобный для Вас город Украины сэкономит ваши средства.' | translate}}</p>
                </div>
                <div class="info-holder__text">
                    <ul>
                        <li>{{'Качественное обслуживание' | translate}}</li>
                        <li>{{'Высокий уровень сервиса' | translate}}</li>
                        <li>{{'Моментальная обработка заказа' | translate}}</li>
                        <li>{{'Бесплатная доставка автозапчасти в любой автосервис Автодок' | translate}}</li>
                        <li>{{'Гарантия возврата' | translate}}</li>
                        <li>{{'Доставка заказа от 4-х часов до 3-х суток' | translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="info-holder__text">
                    <p><b>{{'Сеть автосервисов Autodoc' | translate}}</b></p>
                    <ul>
                        <li>{{'в любом городе Украины' | translate}}</li>
                        <li>{{'быстрота обслуживания' | translate}}</li>
                        <li>{{'качественные запасные части и расходные материалы' | translate}}</li>
                        <li>{{'удобный график работы' | translate}}</li>
                        <li>{{'наличие запасных частей' | translate}}</li>
                        <li>{{'полный спектр сервисного обслуживания' | translate}}</li>
                        <li>{{'возможность возврата/замены' | translate}}</li>
                        <li>{{'быстрая доставка' | translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="">
            <p>{{'Полный спектр услуг  сервиса нашей сети позволяет системно и быстро решать задачи не только по подбору необходимых запасных частей, а и осуществлять оперативный  ремонт и техническое обслуживание вашего транспортного средства в любое удобное для вас время.' | translate}}
            </p>
            <p>{{'Национальная сеть автосервисов Автодок на сегодня насчитывает более 300 СТО по всей Украине. Сеть СТО постоянно развивается и предлагает только лучшие условия обслуживания и высокое качество предоставляемых услуг. Все СТО обязательно проходят аттестацию и сертификацию. Техническое обслуживание производится исключительно на качественном оборудовании.' | translate}}</p>
            <p>{{'Вы хотите забыть о бесконечных очередях и низком качестве обслуживания? Тогда вам пора воспользоваться нашим сервисом Autodoc!' | translate}}</p>
        </div>
    </div>
</div>
