.specifications {
    border: 1px solid #eee;
    position: relative;
    padding: 23px 0 10px;
    margin: 0 0 13px;
    border-radius: 0 0 5px 5px;

    @media screen and (max-width: 479px) {
        border: none;
        margin: 0 -15px;
        padding: 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        background: #70b51c;
        height: 3px;

        @media screen and (max-width: 479px) {
            background: none;
            width: 0;
            height: 0;
        }
    }

    &__title {
        display: block;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #666;
        margin: 0 0 15px;
        padding: 0 0 0 14px;

        @media screen and (max-width: 479px) {
            text-align: center;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 12px;
        line-height: 24px;
    }

    &__item {
        overflow: hidden;
        padding: 0 14px;

        &:nth-child(even) {
            background: #f7f7f7;
        }
    }

    &__name {
        float: left;
        color: #999;
    }

    &__description {
        float: right;
        color: #666;
    }
}
.wishlist-icon__svg-yellow {
    fill: #1d5495;
    color: #1d5495;
    width: 12px;
    height: 12px;
}
.addToFavor {
    color: #1D5495;
    margin-left: 6px;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px dashed #1D5495;

    &:hover {
        border-bottom: none;
    }
}

.old-price {
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: line-through;
    color: #414141;
}

.characteristics-list-mob {
    font-size: 14px;
    line-height: 21px;
    color: #414141;
    padding-top: 12px;
    border-top: 1px solid #C5D5EA;
}

.characteristics-item-mob:nth-child(2n) {
    background: #F5F7FA;
}

.characteristics-name-mob {
    display: inline-block;
    width: 40%;
    padding: 7px 12px;
}

.characteristics-description-mob {
    display: inline-block;
    width: 60%
}

.block-amount-quantity {
    color: #d82845;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}