<vehicle-type-switch *ngIf="typeSwitchShown()" [catalogType]="catalogType" (catalogTypeSelected)="setCatalogType($event)"></vehicle-type-switch>
<div *ngIf="!isOnThirdLevelOfCatalog() && !isSecondWithoutFourth()">
    <ul class="sub-categories">
        <li class="sub-categories__item" *ngFor="let node of rootParentNode.children">
            <a class="sub-categories__link" [routerLink]="getRouteForSubcategory(node)" [queryParams]="getQueryParameters()">
                <span class="sub-categories__name">{{ node.name }}</span>
                <div class="sub-categories__description">
                </div>
                <img *ngIf="node.imageUrl" class="sub-categories__image" [src]="node.imageUrl" alt="фото {{node.name}}" title="{{node.name}}" width="200" height="140">
            </a>
            <div *ngIf="!isBanner && node.hasChildren">
                <catalog-sub-subs [children]="node.children"
                                  [rootParentNode]="rootParentNode"
                                  [parent]="node"
                                  [routeParams]="currentRouteParams"
                                  [queryParameters]="getQueryParameters()">
                </catalog-sub-subs>
            </div>
        </li>
    </ul>
    <div *ngIf="seoTextCategoryDisplayed">
        <div class="sub-main-text">           
            <div class="bottom-text-info">
                {{'Вы автовладелец и хотите быстро получить помощь в подборе и установке автозапчастей? Воспользуйтесь нашим автосервисом и убедитесь в его качестве и оперативности!' | translate}}
            </div>
            <div [ngClass]="hideOrShowText()">
                <div class="bottom-text-info">
                    {{'В интернет-магазине Autodoc вы с легкостью найдете необходимые детали и расходники с помощью электронного каталога, в котором представлен широкий спектр автотоваров в справедливой ценовой политике. Вам нужна помощь специалиста? Воспользуйтесь формой VIN-подбора деталей. Квалифицированные консультанты Autodoc найдут оптимальное решение, подобрав автозапчасти под конкретную марку автомобиля. Все это вы сможете сделать буквально в несколько кликов!' | translate}}
                </div>
                <div class="bottom-text-info">{{'Высокое качество обслуживания и быстрый подбор необходимых деталей и расходников для авто вам гарантированы!Вы сможете быстро сделать заказ на сайте и получить автозапчасти в удобное для вас время на любом сервисе сети Autodoс, которых более 300 по всей Украине. ' | translate}}</div>
                <div class="bottom-text-info">{{'Абсолютно все СТО нашей сети проходят сертификацию и аттестацию. Полный цикл услуг сети Autodoc позволит быстро решить задачу по подбору и ремонту вашего авто, значительно сэкономив не только время, а и финансы.' | translate}}</div>            
            </div>
        </div>
        <div *ngIf="!showBottomText" class="text-changer" (click)="changeShowText()"><span>{{'Читать полностью' | translate}}</span></div>
        <div *ngIf="showBottomText" class="text-changer" (click)="changeShowText()"><span>{{'Свернуть' | translate}}</span></div>    
    </div>
</div>
<div class="catalog-section" *ngIf="isOnThirdLevelOfCatalog() || isSecondWithoutFourth()">
    <div id="productsList" class="product-seciton clearfix">
        <car-filter-tires-panel (onApplyCar)="applyFilters()" (onResetCar)="resetFilters()"></car-filter-tires-panel>
        <car-filter-panel *ngIf="showFilters && carFiltersPanelShow"></car-filter-panel>

        <div class="filter-opener-mob" (click)="toggleFilters()">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.9317 0.454307C15.8029 0.159368 15.5799 0.0118777 15.2618 0.0117188H0.737808C0.420135 0.0117188 0.196893 0.159368 0.0682817 0.454307C-0.0602503 0.76435 -0.00735106 1.02928 0.227218 1.24859L5.82146 6.84267V12.3573C5.82146 12.5543 5.89335 12.7243 6.03703 12.8682L8.94171 15.7728C9.078 15.9165 9.24814 15.9886 9.45246 15.9886C9.54316 15.9886 9.63767 15.9695 9.73604 15.9317C10.0312 15.803 10.1788 15.5799 10.1788 15.2622V6.84271L15.7728 1.24863C16.0075 1.02932 16.0603 0.764469 15.9317 0.454307Z" fill="#1D5495" />
            </svg>
            <span class="show-filter">{{'Показать фильтры' | translate}}</span>
            <span *ngIf="selectedFilterCount > 0" class="number-filters">: {{selectedFilterCount}}</span>
        </div>

        <search-parameters-panel (isListChanged)="setIsList($event)" (parametersChanged)="navigate()"></search-parameters-panel>
        <!--mobile filters-->
        <div [style.display]="mobileFiltersShown ? 'block' : 'none'" class="popup popup-order" #filtersMobile>
            <div class="popup__overlay popup__overlay-order"></div>
            <div class="filter-holder panel panel-default filter-title">
                <div class="header-filter">
                    {{'Фильтры' | translate}}
                    <span class="header-filter-close" (click)="toggleFilters()"><svg class="close-icon__svg header-filter-close-svg"><use svg-use-reference="close"></use></svg></span>
                </div>
                <div class="" style="" #selectedFilterViewMobile>
                    <selected-filter-view (onFilterChange)="applyFilters()"></selected-filter-view>
                </div>
                <nav class="category-nav" *ngIf="containsSubcategories()">
                    <div class="">
                        <div class="panel-heading  holder-filter" style="padding: 18px 24px;" (click)="toggleSubcategories()">
                            <h4 class="panel-title">
                                <span>{{'Категории' | translate}}</span>
                                <span class="drop-arrow filter-arrow"><svg class="drop-arrow__svg filter-arrow"><use svg-use-reference="arrow"></use></svg></span>
                            </h4>
                        </div>
                        <div id="{{id}}" *ngIf="subcategoriesIsShown" class="panel-collapse collapse in">
                            <div class="combobox-panel-body">
                                <ul class="sub-menu-categories">
                                    <li class="item-subcategories" *ngFor="let node of rootParentNode.children">
                                        <a [routerLink]="['/category', node.pageURL]" [queryParams]="getQueryParametersWithoutPage()" [ngClass]="isRoot(node.nodeId)" class="navbar__link">
                                            <span class="drop-arrow drop-arrow--blue">
                                                <svg class="drop-arrow__svg drop-arrow__svg--blue">
                                                    <use svg-use-reference="arrow" />
                                                </svg>
                                            </span>{{ node.name }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <filters-panel *ngIf="showFilters" [categoryUrl]="catalogNodeName"></filters-panel>
                <div class="item-filter-btn">
                    <a (click)="resetFilters()" class="btn-reset-filter">{{'Сбросить' | translate}}</a>
                    <a (click)="applyFilters()" class="btn-show-filter">{{'Показать' | translate}}</a>
                </div>
            </div>
        </div>

        <search-product-list [isList]="isList"
                             [showMoreButtonDisplayed]="isShowMoreDisplayed() | async"
                             (onShowMoreClick)="loadMoreProducts()"
                             [isCategoryPage]="isCategoryPage"
                             [categoryTitle]="categoryTitle"></search-product-list>
        <seo-paging *ngIf="(totalCount$ | async) > searchParameters.count" [queryParameters]="queryParameters" [totalItems]="totalCount$ | async" [currentPage]="currentPage" [maxSize]="searchParameters.count" (pageChanged)="pageChanged($event)"></seo-paging>

        <div class="main-info-accordion" *ngIf="isCategoryPage && isSelectedCarAndMark()">
            <mat-accordion>  
                <mat-expansion-panel [expanded]="false">
                    <mat-expansion-panel-header>{{'Популярные модели авто' | translate}}</mat-expansion-panel-header>
                        <div class="block-characteristics">
                            <div style="min-height:150px">
                                <category-auto-link></category-auto-link>                              
                            </div>
                        </div>
                </mat-expansion-panel>     
            </mat-accordion>
        </div>

        <div class="seo-text" *ngIf="seoTextDisplayed">
            <div class="product-seciton" [innerHTML]="getPageText()"></div>
        </div> 

        <div *ngIf="isCategoryPage && isSelectedCarAndMark()">
            <modifications-info-block [categoryTitle]="categoryTitle" 
            [selectedFilters]="selectedFilters"></modifications-info-block>
        </div>
    </div>
</div>

