
<!-- 1 панель -->
<div class="panel panel-default filter-title">
    <!-- Заголовок 1 панели -->
    <div class="panel-heading  holder-filter">
        <h4 class="panel-title">
            <a data-parent="#accordion"  data-toggle="collapse" href="{{href}}">

                {{'Подходит к авто' | translate}}

            </a>
        </h4>
    </div>
    <div id="{{id}}" class="panel-collapse collapse in" >
        <!-- Содержимое 1 панели -->
        <div class="panel-body">
            <div class="filter-scroll" *ngIf="(vehicles$ | async).length > 0">
                <div class="filter__row" *ngFor="let option of vehicles$ | async">
                    <label class="filter__label filter__label--auto">
                        <input (change)="changeOptionState(option, $event)" class="filter__checkbox" type="checkbox" [checked]="checkOptions(option)" [jcf]="{ type:'Checkbox' }">
                        <span class="filter__label-text">{{option.mark}} {{option.model}}</span>
                        <!--<span class="close-icon close-icon--filter"><svg class="close-icon__svg"><use svg-use-reference="close" /></svg></span>-->
                    </label>
                </div>
            </div>
            <span *ngIf="(vehicles$ | async).length == 0">{{'Сначала добавьте машину' | translate}}</span>                
            <a (click)="openAddVehicleDialog()" class="add-car-filter" href="javascript:void(0)">{{'Добавить машину' | translate}}</a>
            <!--<div>
                <button class="filter-apply-btn" (click)="applyOptions()">{{'Применить' | translate}}</button>
                <button class="filter-reset-btn" (click)="resetOptions()">{{'Сбросить' | translate}}</button>
            </div>-->
        </div>
    </div>
</div>
