<div class="delivery-info-page">
    <div class="">
        <div class="title-contact">
            {{'Варианты доставки и оплаты' | translate}}
        </div>
        <div class="oplata-holder__text">
            <table class="delivery-info-table">
                <tbody>
                    <tr>
                        <td><b>{{'Варианты доставки' | translate}}</b></td>
                        <td><b>{{'Формы оплаты' | translate}}</b></td>
                        <td><b>{{'Стоимость доставки' | translate}}</b></td>
                    </tr>
                    <tr>
                        <td><b>{{'Национальная сеть точек выдачи заказов Autodoc' | translate}}</b></td>
                        <td><b>{{'Нал/безнал' | translate}}</b></td>
                        <td class="red-free"><b>{{'БЕСПЛАТНО' | translate}}</b></td>
                    </tr>
                    <tr>
                        <td>{{'Новая почта' | translate}}</td>
                        <td>{{'Нал/безнал' | translate}}</td>
                        <td>{{'По тарифам КС' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'Джастин' | translate}}</td>
                        <td>{{'Нал/безнал' | translate}}</td>
                        <td>{{'По тарифам КС' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'Мист' | translate}}</td>
                        <td>{{'Нал/безнал' | translate}}</td>
                        <td>{{'По тарифам КС' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'Деливери' | translate}}</td>
                        <td>{{'Безнал' | translate}}</td>
                        <td>{{'По тарифам КС' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'Укрпочта' | translate}}</td>
                        <td>{{'Безнал' | translate}}</td>
                        <td>{{'По тарифам КС' | translate}}</td>
                    </tr>
                </tbody>
            </table>           
            <p class="text-dostavka">
                <b>{{'Срок доставки товара:'| translate}}</b> {{'от 2 часов (в точки выдачи заказов Autodoc) до 3 суток (курьерскими службами по Украине) с момента оформления заказа.' | translate}}
            </p>
            <div class="">
                <p class="free-delivery-contact">
                    {{'Детальнее о безналичной оплате' | translate}}
                </p>
                <p class="text-dostavka">
                    {{'После оформление заказа менеджером Autodoc, на ваш телефон поступит SMS со ссылкой для оплаты. Вам нужно будет перейти по ссылке и выбрать удобный способ оплаты:' | translate}}
                </p>
                <ul class="list-contact">
                    <li>
                        <b>{{'Карта ПриватБанка.' | translate}}</b> {{'Выбираем значок Pay24 и продолжаем оплату с помощью Приват24.' | translate}}
                    </li>
                    <li>
                        <b>{{'Карта другого банка.' | translate}}</b> {{'Вам нужно внести данные карты в соответствующие поля: «Номер карты», «Дата действия карты», «Защитный код» (3 цифры с обратной стороны карты).' | translate}}
                    </li>
                    <li>
                        <b>{{'По счету, через терминал ПриватБанка.' | translate}}</b> {{'Для этого формируем счет, перейдя по ссылке для оплаты из SMS. После перехода выбираете: «Способ оплаты — Оплата картой — Другие способы оплаты». Далее, нужно повторно ввести номер телефона, а затем — код из SMS-сообщения. Будет сформирован счет, вы сможете оплатить его в любом терминале ПриватБанка.' | translate}}<br />{{'На терминале нажимаем «У меня нет карты» и вводим номер телефона. Вам поступает звонок, и Вы вводите на терминале последние цифры номера, с которого он поступил.  На дисплее появятся данные для оплаты заказа по счету от ФОП Рева Н.В. Вносите необходимую сумму и нажимаете «Оплатить». По завершению операции вы можете получить чек. ' | translate}}
                    </li>
                </ul>
                <p class="text-dostavka">
                    {{'При оплате банковской картой через интернет, вы в течение 15-20 мин с момента проведения транзакции получите SMS подтверждения оплаты.' | translate}}
                </p>
                <p class="text-dostavka">
                    {{'Статус и историю оплат, а также статусы и историю ваших заказов, вы можете отследить в личном кабинете на сайте.' | translate}}
                </p>
                <div id="scroll_anchor_dostavcaioplata"  class="free-delivery-contact">
                    {{'Условия работы с юридическими лицами (счета с НДС)' | translate}}
                </div>
                <p class="text-dostavka">
                    {{'Заказ товара на юридическое лицо, с оплатой счета с НДС, выполняется на следующих условиях:' | translate}}
                </p>
                <ul class="list-contact">
                    <li>
                        {{'Заказ должен быть на сумму не менее ' | translate}} 500 грн.
                    </li>
                    <li>{{'Необходимо предоставить скан-копии ваших уставных документов (свидетельство о госрегистрации, справка из ЕГР, свидетельство НДС).' | translate}}</li>
                    <li>
                        {{'Договор не заключается.' | translate}}
                    </li>
                    <li>
                        {{'С товаром отдаем вам расходную накладную.' | translate}}
                    </li>
                    <li>
                        {{'Оплата производится на основании счета.' | translate}}
                    </li>
                    <li>
                        {{'Доставка может учитываться отдельной позицией в счете.' | translate}}
                    </li>
                    <li>
                        {{'Отправка осуществляется КС «Новая Почта» (по тарифам КС) или на «Точки выдачи Autodoc» (бесплатная доставка).' | translate}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



