.text-vehicle {
    font-size: 14px;
    line-height: 21px;
    padding: 24px 0 12px 0;
}
.wrapper-btn-link {
    background: linear-gradient(180deg, #FFFFFF 0%, #F5F7FA 100%);
    border: 1px solid #C5D5EA;
    border-radius: 6px;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    margin: 24px 0;
}
.btn-link-vehicle {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #1D5495;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #1D5495;
    }
}
.garage-input-more {
    position: relative;
    width: 100%;
    display: block;
}
.filter-dropdown-add-garage {
    position: absolute;
    max-height: 150px;
    width: 93%;
    border: 1px solid #99aec9;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: auto;
    z-index: 16;
}
.garage-bonus {
    width: 30%;
    display: inline-block;
    margin-right: 1em;
    position: relative;

    &:last-child {
        margin-right: 0;
    }
}
.garage-arrow-more {
    position: absolute;
    top: 15px;
    right: 15px;
}

.garage-arrow-more svg {
    height: 12px;
    width: 12px;
}

.garage-arrow-more svg use {
    fill: #1D5495;
}
.question-icon-vehicle {
    position: absolute;
    right: 10px;
    top: 29px;
    cursor: pointer;
}
.question-icon-vehicle:hover span {
    opacity: 1;
    visibility: visible;
}