<div class="select-car-garage" *ngFor="let filterData of carDataArray$ | async; trackBy: trackByFn" style="margin-bottom: 15px;">
    <filter-dropdown *ngIf="filterData.isActive"
                     [filterDataList]="filterData.options"
                     [filterSearchString]="getSearchString(filterData)"
                     (onChageFilter)="onOptionSelect($event, filterData)"
                     (onClickEvent)="onFilterClick(filterData)"
                     (onFilterClearEvent)="onFilterClear(filterData)"
                     (onInputChangeEvent)="onInputChange()"
                     [placeholder]="getPlaceholder(filterData)"
                     [itemsListLoad]="filterData.loading"
                     [isActive]="filterData.isActive"
                     [showDropDown]="filterData.dropdownShown"
                     (onOptionsRequest)="filterDropdownOptions($event, filterData)">
    </filter-dropdown>
</div>