.title-top-brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #e34761;
}

.brand-top-number {
    width: 24px;
    height: 24px;
    border: 1px solid #e34761;
    border-radius: 50%;
    color: #e34761;
    text-align: center;
    padding-top: 2px;
}

.brand-top-img {
    width: 60px;
    height: 48px;
    border-radius: 6px;
    margin: 0 12px;
}

.brand-text-top {
    font-size: 14px;
    line-height: 21px;
    width: 60%;
    max-height: 2.9em;
    position: relative;
    overflow: hidden;
    padding-right: 1em;
}