<div class="main">
    <div *ngIf="vinSearchCar" class="title">
        <vinsearch-car [vin]="vinModel" (backButtonPress)="clearSearchResults()"></vinsearch-car>
    </div>
    <div *ngIf="!vinSearchCar">
    <div class="title">
        <span class="title__text">{{'Каталоги оригинальных запчастей' | translate}}</span>
    </div>
    <div class="choose-auto" style="padding: 0 0 30px;">
        <div class="choose-auto__search" style="float: none; margin: auto;">
            <span class="choose-auto__search-title">{{'Найдите модель по' | translate}}<a class="tooltip-VIN"> {{'VIN-номеру' | translate}} <span class="VIN-icon"><svg class="vin-icon__svg  work-icon__svg--order"><use svg-use-reference="work"></use></svg></span><span class="tooltip-VIN-img"><img src="https://res.cloudinary.com/dk5dc1wvr/image/upload/v1507713188/data/vine-code.jpg" class="margin-bot-10 vin-code-img" title="" alt="image description" /></span></a></span>
            <div class="search-form search-form--service" autocomplete="off" action="#">
                <input class="search-form__input" (keyup)="vinSearch()" (keyup.enter)="vinSearch()" [(ngModel)]="vinSearchString" id="search-autocomplete" placeholder="{{'Поиск по VIN' | translate}}" type="search">
                <button class="search-form__submit" (click)="vinSearch()"><span class="search-icon"><svg class="search-icon__svg"><use svg-use-reference="search" /></svg></span></button>
            </div>
            <div class="choose-auto__search-text">
                <p *ngIf="vinSearchString && vinSearchString.length >= 17 && !isValidVin()" style="color: darkred">{{'Неверный формат вин-кода' | translate}}</p>
                <p>{{'VIN номер - это идентификационный номер транспортного средства состоящий из 17 символов. В коде представлена информация о производителе, характеристиках транспортного средства и годе выпуска.' | translate}}</p>
            </div>
        </div>
        <div class="choose-auto__decor" style="display: none;">
            <span class="choose-auto__decor-text">{{'или' | translate}}</span>
        </div>
        <div class="choose-auto__form-box" style="display: none;">
            <span class="choose-auto__form-title">{{'Автомобили' | translate}}:</span>
            <div *ngIf="inProcess">
                <div class="autodoc-loader" style="top:0px"></div>
            </div>
            <user-vehicles *ngIf="isAuthorized" (carSelected)="onCarSelected($event)"></user-vehicles>
            <latest-vin-cars [isAuthorized]="isAuthorized" [vin]="vinModel"></latest-vin-cars>
        </div>
    </div>
    </div>
</div>
