<div class="vin-input-icon">
    <input class="form-input" maxlength="30" type="text" placeholder="{{'Введите Vin или Гос номер' | translate}}" (keyup.enter)="onVinSearch()" [(ngModel)]="vinModel" (ngModelChange)="onVinInput()" [ngClass]="{'autodoc-mini-loader': inProcess}">
    <div *ngIf="!inProcess" class="question-icon">
        <svg width="24" height="24"><use svg-use-reference="vin-question" /></svg>
        <span class="vin-foto" style="right: -20px;">
            <img src="https://cdn.autodoc.ua/VIN_info.png" width="346" height="248" />
            <span>{{'Vehicle identification number (VIN) — уникальный код транспортного средства, состоящий из 17 символов. В коде представлена информация о производителе, характеристиках транспортного средства, и годе выпуска.' | translate}}</span>
        </span>
    </div>
</div>

