.check-vailability {    
    overflow: hidden;
}

.content-padding {
    padding: 0 1% 0 1%
}

.check-vailability-title {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #666;
    text-transform: uppercase;
    font-weight: 700;
}

.check-vailability-span {
    color: red;
    font-size: 16px;    
}
.favorite-login-popup {
    padding: 0px 50px;
    position: relative;
}
.favorite-title-popup {
    padding: 10px 0;
    color: #666;
    font-size: 20px;
    font-weight: 700;
}