.drop-arrow__svg use,
.drop-arrow__svg {
    fill: #333;
}
.drop-arrow__svg--white use,
.drop-arrow__svg--white {
    fill: #fff;
}
.drop-arrow__svg--blue use,
.drop-arrow__svg--blue {
    fill:  #3e77aa;
}
.close-icon__svg use,
.close-icon__svg {
  fill:#99AEC9;
}
.close-icon__svg--red use,
.close-icon__svg--red {
  fill: #e30839;
}
.address-icon__svg use,
.address-icon__svg {
  fill: #70b51c;
}

.person-icon__svg use,
.person-icon__svg {
  fill:  #3e77aa;
}

.tel-icon__svg use,
.tel-icon__svg {
  fill: #333;
}

.work-icon__svg use,
.work-icon__svg {
  fill: #333;
}

.work-icon__svg--blue,
.work-icon__svg--blue use {
  fill:  #3e77aa;
}

.car-icon__svg use,
.car-icon__svg {
  fill: #747f84;
}

.car-icon__svg--white use,
.car-icon__svg--white {
  fill: #fff;
}

.basket-icon__svg use,
.basket-icon__svg {
  fill: #747f84;
}

.basket-icon__svg--white use,
.basket-icon__svg--white {
  fill: #fff;
}

.basket-icon__svg--black use,
.basket-icon__svg--black {
  fill: #5c5c5c;
}

.search-icon__svg use,
.search-icon__svg {
  fill: #999;
}

.search-icon__svg--blue use,
.search-icon__svg--blue {
  fill:  #3e77aa;
}

.location-icon__svg use,
.location-icon__svg {
  fill: #fff;
}

.service-icon__svg use,
.service-icon__svg {
  fill: #70b51c;
}
.drop-arrow__svg--green use,
.drop-arrow__svg--green {
  fill: #70b51c;
}

.car-icon__svg--product,
.car-icon__svg--product use {
  fill: #ccc;
}

.brands__info-more:hover,
.info-holder__button:hover {
  .drop-arrow__svg--green use,
  .drop-arrow__svg--green {
    fill: #fff;
  }
}

.star-icon__svg use,
.star-icon__svg {
  fill: #999;
}

.follow-icon__svg use,
.follow-icon__svg {
  fill: #86c934;
}

.btn-arrow__svg use,
.btn-arrow__svg {
  fill: #fff;
}
.fbook-icon use,
.fbook-icon {
    fill: #F5F7FA;
}

.fbook-icon-h use,
.fbook-icon-h {
  fill: #4463a6;
}

.inst-icon use,
.inst-icon {
    fill: #F5F7FA;
}

.vk-icon use,
.vk-icon {
  fill: #585d65;
}

.vk-icon-h use,
.vk-icon-h {
  fill: #3c668c;
}

.od-icon use,
.od-icon {
  fill: #585d65;
}

.od-icon-h use,
.od-icon-h {
  fill: #d67d14;
}

.newsletter-icon use,
.newsletter-icon {
  fill: #fff;
}

.show-map-icon__svg use,
.show-map-icon__svg {
  fill: #ffffff;
}

.icon_map_point__svg use,
.icon_map_point__svg {
    fill: #5D8AA8;
}

.prompt-icon__svg use,
.prompt-icon__svg {
  fill: #9ebad4;
}

.pay-ico-1__svg use,
.pay-ico-1__svg {
  fill:  #3e77aa;
}

.pay-ico-2__svg use,
.pay-ico-2__svg {
  fill:  #3e77aa;
}

.pay-ico-3__svg use,
.pay-ico-3__svg {
  fill:  #3e77aa;
}

.pay-ico-4__svg use,
.pay-ico-4__svg {
  fill:  #3e77aa;
}

.success__svg use,
.success__svg {
  fill: #fff;
}

.add-detail__svg use,
.add-detail__svg {
  fill:  #3e77aa;
}

.instock-icon__svg use,
.instock-icon__svg {
  fill: #70b51c;
}

.instock-icon__svg--white use,
.instock-icon__svg--white {
  fill: #fff;
}

.wishlist-icon__svg,
.wishlist-icon__svg use {
  fill: #fff;
  color:#1D5495;
}

.comparison-svg,
.comparison-svg use {
  fill:  #3e77aa;
}

.car-icon__svg--filter,
.car-icon__svg--filter use {
  fill: #999;
}

.list-svg,
.list-svg use {
  fill: #9ebbd4;
}

.trigger-box-ico__svg-1,
.trigger-box-ico__svg-1 use {
  fill: #9ebad4;
}

.trigger-box-ico__svg-2,
.trigger-box-ico__svg-2 use {
  fill: #9ebad4;
}

.trigger-box-ico__svg-3,
.trigger-box-ico__svg-3 use {
  fill: #9ebad4;
}

.image-battons__ico-svg,
.image-battons__ico-svg use {
  fill: #9ebad4;
}

.grid-svg,
.grid-svg use {
  fill: #9ebbd4;
}

.product-box__wishlist.active {
  .wishlist-icon__svg,
  .wishlist-icon__svg use {
    fill: #ffae00;
    color: #ffae00;
  }
}

.face-share,
.face-share use {
  fill: #585d65;
}
.vk-share,
.vk-share use {
  fill: #585d65;
}
.odn-share,
.odn-share use {
  fill: #585d65;
}

.order-section__pay-item:hover,
.order-section__pay-box.active {
  .pay-ico-1__svg use,
  .pay-ico-1__svg,
  .pay-ico-2__svg use,
  .pay-ico-2__svg,
  .pay-ico-3__svg use,
  .pay-ico-3__svg,
  .pay-ico-4__svg use,
  .pay-ico-4__svg {
    fill: #70b51c;
  }
}

.product-box__icons-list svg,
.product-box__icons-list svg use {
  fill: #fff;
}

.outstock-icon__svg,
.outstock-icon__svg use {
  fill: #e30839-hover;
}

.station-svg-1,
.station-svg-1 use {
  fill: #fff;
  color: #00b6b6;
}

.station-svg-2,
.station-svg-2 use {
  fill: #fff;
  color: #5d442e;
}

.station-svg-3,
.station-svg-3 use {
  fill: #fff;
  color: #cd9d3b;
}

.station-svg-4,
.station-svg-4 use {
  fill: #fff;
  color: #549ebc;
}

.station-svg-5,
.station-svg-5 use {
  fill: #fff;
  color: #e12229;
}

.station-svg-6,
.station-svg-6 use {
  fill: #fff;
  color: #b57d4e;
}

.address-icon__svg--black,
.address-icon__svg--black use {
  fill: #333;
}

.address-icon__svg--gray,
.address-icon__svg--gray use {
  fill: #999;
}

.address-icon__svg--blue,
.address-icon__svg--blue use {
  fill: #99aec9
}

.map-contacts__work-svg,
.map-contacts__work-svg use {
  fill: #333;
}

.bad-like-ico,
.bad-like-ico use {
  fill: #e30439;
}

.good-like-ico,
.good-like-ico use {
  fill: #70b51c;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .service-section__back .drop-arrow__svg {
     height: 5px;
   }
}
.drop-arrow {
  width: 8px;
  height: 4px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 2px 2px;
  &--white {
    width: 11px;
    height: 5px;
    margin: -1px 0 0 13px;
  }
  &--black {
    width: 6px;
    height: 12px;
    transform: rotate(90deg);
    margin: -6px 12px 0 0;
  }
  &--aside {
    transform: rotate(-90deg);
    margin: -2px 7px 0 0;
  }
  &--blue {
    transform: rotate(-90deg);
    margin: 0 0 0 2px;
  }
  &--left {
    transform: rotate(90deg);
    margin: -2px 10px 0 0;
  }
  &--green {
    transform: rotate(-90deg);
    margin: 0 0 0 6px;
  }
  &--down {
    transform: rotate(0);
    position: absolute;
    right: 0;
    top: 7px;
  }
  &--filter {
    width: 12px;
    height: 6px;
  }
  &__svg {
    width: 8px;
    height: 4px;
    display: block;
    &--white {
      width: 11px;
      height: 5px;
    }
    &--black {
      width: 12px;
      height: 5px;
    }
    &--quantity {
      width: 16px;
      height: 7px;
      display: inline-block;
      vertical-align: middle;
    }
    &--filter {
      width: 12px;
      height: 6px;
    }
  }
}
.close-icon {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  &__svg {
    width: 16px;
    height: 16px;
    display: block;
    &--order {
      width: 12px;
      height: 12px;
    }
    &--red {
      width: 8px;
      height: 8px;
    }
  }
  &--choose {
    top: 28px;
    right: 20px;
    z-index: 2;
  }
  &--Foto {
    top: 11px;
    right: 11px;
  }
  &--filter {
    top: 7px;
    right: 3px;
    display: none;
  }
  &--order {
    width: 12px;
    height: 12px;
  }
  &--delete {
    top: 50%;
    left: 5px;
    margin: -4px 0 0;
    width: 8px;
    height: 8px;
  }
}
.address-icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 4px 0 0;
  &__svg {
    width: 12px;
    height: 12px;
    display: block;
  }
}
.person-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 4px 0 0;
  &__svg {
    width: 10px;
    height: 10px;
    display: block;
  }
}
.tel-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 6px 0 0;
  &__svg {
    width: 10px;
    height: 10px;
    display: block;
  }
}
.work-icon {
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 6px 0 0;
  &--order {
    margin: -9px 6px 0 0;
  }
  &__svg {
    width: 13px;
    height: 13px;
    display: block;
    &--order {
      display: inline-block;
      width: 14px;
    }
  }
}
.car-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  &__svg {
    width: 24px;
    height: 24px;
    display: block;
    &--filter {
      width: 20px;
      height: 14px;
    }
  }
  &--white {
    margin: -2px 12px 0 0;
  }
  &--product {
    cursor: pointer;
  }
  &--filter {
    width: 20px;
    height: 14px;
    margin: -2px 10px 0 0;
  }
}
.basket-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 15px;
  &__svg {
    width: 30px;
    height: 30px;
    display: block;
    &--white {
      width: 26px;
      height: 22px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.search-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0;
  &__svg {
    width: 16px;
    height: 16px;
    display: block;
    &--blue {
      width: 14px;
      height: 14px;
    }
  }
  &--blue {
    width: 14px;
    height: 14px;
    margin: -2px 6px 0 0;
  }
}
.location-icon {
  width: 16px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 9px 0 0;
  &__svg {
    width: 16px;
    height: 23px;
    display: block;
  }
}
.service-icon {
  width: 37px;
  height: 54px;
  position: absolute;
  top: 50%;
  left: 34px;
  margin: -27px 0 0;
  &__svg {
    width: 37px;
    height: 54px;
    display: block;
  }
}
.star-icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 22px;
  margin: -4px 14px 0 0;
  &__svg {
    width: 24px;
    height: 22px;
    display: block;
  }
}
.newsletter-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.footer__form-button {
  &:hover {
    .newsletter-icon use,
    .newsletter-icon {
      fill:  #3e77aa;
    }
  }
}
.show-map-icon {
  width: 7px;
  height: 10px;
  margin: -1px 5px 0 0;
  display: inline-block;
  vertical-align: middle;
  &__svg {
    width: 7px;
    height: 10px;
    display: block;
  }
}
.icon_map_point {
    width: 7px;
    height: 10px;
    margin: -1px 5px 0 0;
    display: inline-block;
    vertical-align: middle;

    &__svg {
        width: 7px;
        height: 10px;
        display: block;
    }
}
.prompt-icon {
  width: 21px;
  height: 20px;
  display: block;
  &__svg {
    width: 20px;
    height: 20px;
    display: block;
  }
}
.dev-logo {
  width: 62px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
.dev-logo use,
.dev-logo {
  fill: #585d65;
}
.pay-ico-1 {
  width: 48px;
  height: 43px;
  display: block;
  margin: 0 auto;
  padding: 4px 0 0;
  &__svg {
    width: 48px;
    height: 43px;
    display: block;
  }
}
.pay-ico-2 {
  width: 58px;
  height: 44px;
  display: block;
  margin: 0 auto;
  &__svg {
    width: 58px;
    height: 44px;
    display: block;
  }
}
.pay-ico-3 {
  width: 39px;
  height: 39px;
  display: block;
  margin: 0 auto;
  padding: 6px 0 0;
  &__svg {
    width: 39px;
    height: 39px;
    display: block;
  }
}
.pay-ico-4 {
  width: 154px;
  height: 40px;
  display: block;
  margin: 0 auto;
  padding: 15px 0 0;
  &__svg {
    width: 154px;
    height: 40px;
    display: block;
  }
}
.btn-arrow {
  width: 7px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 10px;
  &__svg {
    display: block;
    width: 7px;
    height: 11px;
  }
}
.success__svg {
  width: 12px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
}
.add-detail__svg {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
}
.instock-icon {
  width: 8px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
  margin: -1px 6px 0 0;
  &--basket {
    width: 12px;
    height: 8px;
  }
  &__svg {
    width: 8px;
    height: 6px;
    display: block;
    &--white {
      display: inline-block;
      vertical-align: middle;
    }
    &--basket {
      width: 12px;
      height: 8px;
    }
  }
}
.wishlist-icon {
  width: 25px;
  height: 24px;  
  &__svg {
    width: 12px;
    height: 12px;
    display: inline-block;
    &--product {
      position: relative;     
      margin-top: -3px;
      margin-right: 6px;
      width: 12px;
      height: 12px;
    }
  }
}
.comparison-svg {
  width: 32px;
  height: 19px;
  display: block;
  &--product {
    width: 22px;
    height: 13px;
    position: absolute;
    left: 13px;
    top: 50%;
    margin-top: -6px;
  }
}
.icons-snow,
.icons-car,
.icons-build,
.icons-wheel,
.icons-crown,
.icons-video {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
  border-radius: 50%;
  margin: 0 0 0 10px;
}
.icons-snow {
  background: #549ebc;
  &__svg {
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin: -1px 0 0 1px;
  }
}
.icons-car {
  background: #cd9d3b;
  &__svg {
    width: 20px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin: -1px 0 0 1px;
  }
}
.icons-build {
  background: #4b84be;
  &__svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: -1px 0 0 1px;
  }
}
.icons-wheel {
  background: #00b6b6;
  &__svg {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: -1px 0 0 1px;
  }
}
.icons-crown {
  background: #c66e34;
  &__svg {
    width: 16px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: -1px 0 0 1px;
  }
}
.icons-video {
  background: #f24343;
  &__svg {
    width: 16px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 1px;
  }
}
.outstock-icon {
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  margin: -1px 6px 0 0;
  &__svg {
    width: 8px;
    height: 8px;
    display: block;
  }
}
.list-svg {
  width: 26px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.grid-svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.station-svg {
  width: 45px;
  height: 44px;
  display: block;
}
.map-contacts__work-svg {
  width: 15px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 7px 0 0;
}
.follow-icon__svg {
  width: 22px;
  height: 12px;
  display: block;
  position: absolute;
  top: 50%;
  left: 13px;
  margin-top: -6px;
}
.trigger-box-ico {
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #9ebad4;
  letter-spacing: 0;
  margin: 0 13px 0 0;
  &__svg-1 {
    width: 30px;
    height: 27px;
  }
  &__svg-2 {
    width: 27px;
    height: 24px;
  }
  &__svg-3 {
    width: 15px;
    height: 24px;
  }
}
.image-battons__ico-svg {
  width: 15px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 1px;
}
.good-like-ico {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.bad-like-ico {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0 0;
}
.face-share {
  width: 6px;
  height: 14px;
  display: block;
}
.vk-share {
  width: 15px;
  height: 8px;
  display: block;
}
.odn-share {
  width: 8px;
  height: 15px;
  display: block;
}
