<div class="all-block-item-mob">
    <div *ngFor="let product of (cart$ | async) ?.products; ; trackBy: trackByFn" class="block-item-mob">
        <span><svg class="close-icon-item-basket" (click)="removeProduct(product)">
                <use svg-use-reference="close"></use>
            </svg></span>
        <div class="item-foto-mob">
            <img class="added-img-mob" onerror="this.src='https://cdn.autodoc.ua/images/no_image.png'"
                [src]="getImageUrl(product)" width="78" height="62" alt="image description">
        </div>
        <div class="item-deskr-mob">
            <div class="item-title-mob">{{ product.displayDescription }}</div>
            <div class="item-code-mob">{{'Код товара' | translate}}: {{ product.lookupNumber }}</div>
            <div class="item-brand-mob">{{'Бренд' | translate}}: {{ product.brand }}</div>
            <div class="counter-price-mob">
                <div class="price-mob">
                    <span class="big-price-mob">{{ product.price | currency:'UAH': '' | currencyFormat}}</span>
                    <div class="counter-mob">
                        <div class="left-minus-block" (click)="decrementProductQuantity(product)">-</div>
                        <input class="add-item-mob" [(ngModel)]="product.quantity"
                            (ngModelChange)="updateQuantity(product)"
                            onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="2"/>
                        <div class="right-plus-block" (click)="incrementProductQuantity(product)">+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>