<div class="delivery-info-page">
    <div class="">
        <div class="title-contact">{{'Помощь' | translate}}</div>
        <p class="free-delivery-contact">
            {{'Куда можно обратиться, чтобы высказать свои предложения и замечания к работе магазина и его сотрудников?' | translate}}
        </p>
        <p class="text-dostavka">
            {{'Свои замечания и предложения Вы можете оставить в специальной форме расположенной в' | translate}}&nbsp;<a class="email-address" [routerLink]="['/pravila-polzovania']" href="javascript:void(0)">{{'Уголке потребителя.' | translate}}</a>
        </p>
        <p class="text-dostavka">
            {{'Также мы создали службу контроля качества, сотрудники которой всегда помогут разрешить сложную ситуацию и найти ответы на ваши вопросы. Если Вам не привезли заказ вовремя, долго обслуживают или возникла другая непредвиденная ситуация – пожалуйста, звоните по телефонам' | translate}}
            &nbsp;<a class="phone-list-contact" href="tel:0504222333">+38(050) 4-222-333</a>, <a class="phone-list-contact" href="tel:0674222333">+38(067) 4-222-333</a>, <a class="phone-list-contact" href="tel:0734222333">+38(073) 4-222-333</a>&nbsp;{{'с 09:00 до 18:00 в рабочие дни или пишите в любое время на' | translate}}&nbsp;<a href="mailto:office@autodoc.ua" class="email-address"><span itemprop="email">office@autodoc.ua.</span></a>
        </p>
        <p class="text-dostavka">
            {{'Мы всегда открыты для предложений и замечаний по улучшению обслуживания наших клиентов, каждый клиент важен для нас!' | translate}}
        </p>
        <p class="free-delivery-contact">            
            {{'Могу ли я расплатиться платежной картой online?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Да, конечно. При оформлении заказа на сайте вы можете рассчитаться платёжной картой VISA или MasterCard.' | translate}}
        </p>
        <p class="free-delivery-contact">            
                {{'Не могу к вам дозвониться, все линии заняты! Что делать?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Если вы не дозвонились – не переживайте, наша CRM система зафиксировала Ваш номер телефона и мы обязательно перезвоним Вам в течение часа. Также вы можете заказать обратный звонок или оформить заказ на сайте.' | translate}}
        </p>
        <p class="free-delivery-contact">           
            {{'Где я могу просмотреть свои предыдущие заказы?' | translate}}           
        </p>
        <p class="text-dostavka">
            {{'Вся история ваших заказов хранится в Вашем личном кабинете на сайте.' | translate}}
        </p>
        <p class="free-delivery-contact">           
            {{'Что делать, если я купил запчасть в вашем магазине, а сотрудник СТО говорит, что она не подходит к моему автомобилю?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'В таких случаях необходимо выяснить, в чём может быть причина:' | translate}}
        </p>
        <ul class="list-contact">
            <li>
                {{'Сверьте артикулы запчасти в документах и самом товаре - они должны совпадать;' | translate}}
            </li>
            <li>
                {{'Сравните новую деталь с установленной ранее на вашем автомобиле по таким параметрам: длина, ширина, высота, диаметр и т.п.;' | translate}}
            </li>
            <li>
                {{'Попросите сотрудника СТО объяснить, почему запчасть не подходит к вашему автомобилю;' | translate}}
            </li>
            <li>
                {{'Позвоните по телефону' | translate}}&nbsp;<a class="phone-list-contact" href="tel:0504222333">+38(050) 4-222-333</a>&nbsp;{{'и оформите возврат товара в случае неправильного подбора запчастей.' | translate}}
            </li>

        </ul>
        <p class="free-delivery-contact">            
            {{'Как мне оплатить заказ, если у меня нет денег на банковской карте? Или я вообще не являюсь клиентом банка?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Вы можете оплатить заказ наличными либо через терминал.' | translate}}
        </p>
        <p class="free-delivery-contact">            
            {{'Что такое VIN-код? Где мне его найти?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'VIN-код вашего автомобиля указан в техпаспорте. Даже если вы обладатель авто с иностранной регистрацией, в его техпаспорте тоже указан VIN-код.' | translate}}
        </p>
        <p class="text-dostavka">
            {{'Кроме техпаспорта, у большинства современных автомобилей VIN-код нанесен в следующих местах:' | translate}}
        </p>
        <ul class="list-contact">
            <li>
                {{'на левой верхней части приборной панели внизу под лобовым стеклом (видно только снаружи автомобиля);' | translate}}
            </li>
            <li>
                {{'рядом с водительским сидением в самом низу арки (чтобы увидеть его, откройте водительскую дверь);' | translate}}
            </li>
            <li>
                {{'под креслом пассажира (отодвиньте сиденье и отогните коврик);' | translate}}
            </li>
            <li>
                {{'под капотом. VIN-код выбит на специальной маркировочной табличке, закрепленной в удобном для обозрения месте с помощью заклепок или винтов.' | translate}}
            </li>
        </ul>
        <p class="free-delivery-contact">           
            {{'Могут ли ваши специалисты подобрать запчасти на мой автомобиль, если я продиктую им по телефону VIN-код (номер кузова)?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Да, конечно. И мы настоятельно рекомендуем заказ запчастей с учетом подбора!' | translate}}
        </p>
        <p class="free-delivery-contact">           
            {{'Если я пришлю вам на почту' | translate}}&nbsp;<a href="mailto:office@autodoc.ua" class="email-address"><span itemprop="email">office@autodoc.ua</span></a>&nbsp;{{'перечень необходимых мне запчастей с указанием марки, модели, модификации, года выпуска автомобиля, вы сможете мне ответить?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Да, конечно. Обязательно укажите марку, модель, объем двигателя и год выпуска вашего авто. Будет идеально, если вы также укажете VIN-код (номер кузова) автомобиля. Кроме того, укажите, пожалуйста, в письме свой контактный номер телефона, он необходим для оформления заказа' | translate}}
        </p>
        <p class="free-delivery-contact">           
            {{'Как мне сделать заказ в нерабочее время?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Просто оформите заказ на сайте через корзину или быстрый заказ. Если вы сделаете это в вечернее / ночное время, заказ будет обработан на следующее утро с 8-00 до 11-00. В это время с вами обязательно свяжется наш менеджер для подтверждения актуальности заказа.' | translate}}
        </p>
        <p class="free-delivery-contact">            
            {{'Какие условия доставки на точки выдачи сети Autodoc?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Доставка БЕСПЛАТНАЯ на все точки выдачи сети Autodoc независимо от суммы заказа!' | translate}}
        </p>
        <p class="text-dostavka">
            <b>
                {{'Срок доставки товара: от 2 часов' | translate}}
            </b>
            {{'(Харьков, Киев на СТО сети Autodoc) до 2 суток (по Украине) с момента оформления заказа.' | translate}}
        </p>
        <p class="free-delivery-contact">            
            {{'Могу ли я самостоятельно забрать заказ?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Да, на всех точках выдачи сети Autodoc, после получения СМС с уведомлением о готовности вашего заказа.' | translate}}
        </p>
        <p class="free-delivery-contact">            
            {{'Какими курьерскими службами осуществляется доставка по Украине?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Доставка заказов по Украине осуществляется следующими Курьерскими службами:' | translate}}
        </p>
        <ul class="list-contact">
            <li>
                {{'Новая почта' | translate}}
            </li>
            <li>
                {{'Деливери' | translate}}
            </li>
            <li>
                {{'Укрпочта' | translate}}
            </li>
            <li>
                {{'Мист Экспресс' | translate}}
            </li>
            <li>
                {{'Джастин' | translate}}
            </li>
        </ul>
        <p class="text-dostavka">
            {{'Подробнее смотрите в разделе' | translate}}&nbsp;<a class="email-address" [routerLink]="['/dostavka-i-oplata']" href="javascript:void(0)">{{'Доставка и оплата.' | translate}}</a>
        </p>
        <p class="free-delivery-contact">            
            {{'Какой у меня номер ТТН к заказу? Подскажите номер декларации?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'После того, как заказ отправлен, вам придет СМС с номером ТТН. Номер ТТН также отображается в вашем личном кабинете.' | translate}}
        </p>
        <p class="free-delivery-contact">           
            {{'Как определить, на какой стадии находится мой заказ в тот или иной момент времени?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'После того, как заказ оформлен, вы можете отслеживать его статус в личном кабинете на сайте.' | translate}}
        </p>
        <p class="free-delivery-contact">           
            {{'Можно ли приобрести товар с оплатой по счету?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Да, конечно. Дополнительная информация по этому вопросу содержится в разделе' | translate}}&nbsp;<a class="email-address" [routerLink]="['/dostavka-i-oplata']" href="javascript:void(0)">{{'Доставка и оплата.' | translate}}</a>
        </p>
        <p class="free-delivery-contact">            
            {{'Могу ли я вернуть или обменять товар?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Да. Подробнее о том, как это сделать, смотрите в разделе' | translate}}&nbsp;<a class="email-address" [routerLink]="['/garantia-i-vozvrat']" href="javascript:void(0)">{{'Гарантия и возврат.' | translate}}</a>
        </p>
        <p class="free-delivery-contact">            
            {{'Что мне делать, если купленная деталь вышла из строя?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'У нас предусмотрен гарантийный возврат товара. Подробнее смотрите в разделе' | translate}}&nbsp;<a class="email-address" [routerLink]="['/garantia-i-vozvrat']" href="javascript:void(0)">{{'Гарантия и возврат.' | translate}}</a>
        </p>
        <p class="free-delivery-contact">            
            {{'У вас можно сделать установку приобретенных запчастей?' | translate}}            
        </p>
        <p class="text-dostavka">
            {{'Да, вы можете воспользоваться услугами СТО – точками выдачи сети Autodoc.' | translate}}
        </p>
    </div>
</div>


