<div>
    <input class="delivery-step__input"
           type="text"
           [(ngModel)]="searchString"
           placeholder="{{'Начните вводить название области' | translate}}"
           #searchBox (keyup)="findAreas()">

    <div *ngIf="(areas$ | async)?.length > 0 && showDropDown" class="settlement-dropdown-container">
        <div *ngFor="let area of (areas$ | async)" (click)="selectArea(area)" class="settlement-item">
            <span class="bold-font">{{ area.areaName }}</span>
        </div>
    </div>
    <div class="head-overlay lang-overlay" (click)="hideDropdown()" [style.display]="getDisplay()"></div>
</div>
