<div class="post-offices-block">
    <div class="post-office-address">
        {{ (deliveryPoint$ | async)?.shortName }} {{ (deliveryPoint$ | async)?.address }}
    </div>
    <!--<div class="contact-post">
        <span>
            <svg class="post-icon"><use svg-use-reference="post-address"></use></svg>
        </span>
        <span class="tel-post">+380800500609</span>
    </div>
    <div class="contact-post">
        <span>
            <svg class="post-icon"><use svg-use-reference="checkout-tel"></use></svg>
        </span>
        <span class="tel-post">Грузоподъемность до 30 кг</span>
    </div>
    <div class="contact-post">
        <span>
            <svg class="post-icon"><use svg-use-reference="carrying-capacity"></use></svg>
        </span>
        <div class="time-work">
            График работы отделения:<br />
            Пн-Пт: 08:00-21:00 <br />
            Сб: 09:00-18:00 <br />
            Вс: 11:00-16:00
        </div>
    </div>-->
</div>