.brand-tires {
    width: 120px;
    height: 60px;
    display: inline-block;
    margin-right: 34px;
}

.brand-tires:last-child {
    margin-right: 0;
}
.brands-tires-block {
    text-align: center;
}