<div class="error-404 margin-top-20">   
    <img src="https://cdn.autodoc.ua/images/30-03-21-01-26-42404_page.png"/>
    <div class="text-404">{{'Если серьезно, страницу мы не нашли.' | translate}}</div>
    <div class="text-404">{{'Зато найдем запчасть!' | translate}}</div>
    <div class="margin-top-20">
        <p style="font-size: 14px;">{{'Попробуйте воспользоваться поиском по запчасти в шапке сайта или ' | translate}}</p>
    </div>
    <div class="margin-top-30">
        <a href="javascript:void(0)" [routerLink]="['']" class="btn-404">{{'Перейти на главную' | translate}}</a>
    </div>
</div>