<div class="header-order">
    <span (click)="returnToCabinetInfo()"  class="drop-arrow  order-cabinet-arrow">
        <svg  class="drop-arrow__svg drop-arrow__svg--blue news-arrow"><use svg-use-reference="arrow"></use></svg>
    </span>
    {{'Мои заказы' | translate}}
</div>
<div *ngIf="!inProcess" class="cabinet-page">
    <div *ngFor="let order of orders" class="cabinet-order-info">
        <div class="cabinet-order-item">
            <span class="cabinet-order-name">{{'Дата заказа' | translate}}</span>
            <span class="cabinet-order-description">{{order.orderDateString}}</span>
        </div>
        <div class="cabinet-order-item">
            <span class="cabinet-order-name">{{'Номер заказа' | translate}}</span>
            <span class="cabinet-order-description">{{order.id}}</span>
        </div>
        <div class="cabinet-order-item">
            <span class="cabinet-order-name">{{'Статус заказа' | translate}}</span>
            <span class="cabinet-order-description">{{order.orderStatus}}</span>
        </div>
        <div class="cabinet-order-item">
            <span class="cabinet-order-name">{{'Сумма заказа' | translate}}</span>
            <span class="cabinet-order-description">{{order.orderSum}}</span>
        </div>
        <div [style.display]="!order.isOpen? 'block' : 'none'" class="cabinet-order-item">
            <span class="cabinet-order-name">{{'Детали заказа' | translate}}</span>
            <span (click)="toggleCollapse(order)" class="cabinet-order-description"><a class="prod-whish-list">{{'Показать' | translate}}</a></span>
        </div>
        <order-details [order]="order" (orderState)="toggleCollapse($event)" (afterPayment)="afterPayment($event)"></order-details>
        <div *ngIf="order.isRefundable">
            <a class="refund-btn" (click)="changePersonalData(order)">{{ 'Оформить возврат' | translate}}</a>
        </div>
        <div *ngIf="!order.isRefundable && order.statusId == statusIssued">
            <span class="alert__alert-danger">{{'Срок возврата истек'  | translate}}</span>
        </div>
    </div>
    <autodoc-paging [(currentPage)]="searchParameters.currentPage" [totalItems]="totalItems" (pageChanged)="pageChanged($event)" [maxSize]="pageSize" *ngIf="pageSize < totalItems"></autodoc-paging>
    <div *ngIf="emptyOrder">
        {{'У вас нет заказов' | translate}}
    </div>
</div>
<liqpay-widget></liqpay-widget>
<div *ngIf="inProcess">
    <div class="container__row">
        <div class="autodoc-loader"></div>
    </div>
</div>