.car-select-arrow {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 12px !important;
    height: 12px !important;
}
.car-select-arrow-svg {
    width: 12px !important;
    height: 12px !important;
}
.car-select-arrow-svg use {
    fill: #1D5495 !important;
}