.filter-dropdown-add-garage {
    position: absolute;
    max-height: 150px;
    width: 93%;
    border: 1px solid #99aec9;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: auto;
    z-index: 16;
}
