<form novalidate>
  
    ﻿﻿<div class="forgot-main-height order-section__form">
        <div class="order-section__step-box" *ngIf="!inProcess">
            <div class="container__row choose-auto__form-button-box">
                <div class="title__text">{{'Восстановить с помощью:' | translate}} </div>
                <div class="radio">
                    <input type="radio" name="typeRecoveringPassword" value="email" [(ngModel)]="forgotPassword.typeRecover" [jcf]="{type: 'radio'}">Email
                    <input type="radio" name="typeRecoveringPassword" value="sms" [(ngModel)]="forgotPassword.typeRecover" [jcf]="{type: 'radio'}">SMS
                </div>
                <span *ngIf="forgotPassword.typeRecover === 'email'" class="login__label align-left">{{'E-mail' | translate}}</span>
                <span *ngIf="forgotPassword.typeRecover === 'sms'" class="login__label align-left">{{'SMS' | translate}}</span>
                <input name="email" [hidden]="forgotPassword.typeRecover!=='email'" class="registration__input" type="email" #emailInput="ngModel" [(ngModel)]="forgotPassword.emailContactRecover" required pattern="{{_constants.PATTERNS.EMAIL_PATTERN}}" />
                <input name="phone" [hidden]="forgotPassword.typeRecover!=='sms'" #smsInput="ngModel" class="registration__input" type="tel" maxlength="10" [(ngModel)]="forgotPassword.smsContactRecover" required pattern="{{_constants.PATTERNS.PHONE_PATTERN}}" />
                <span *ngIf="forgotPassword.typeRecover==='sms'">Номер должен быть в формате "0999999999"!</span>

            </div>
            <div class="container__row" *ngIf="smsRecoverData.codSended && forgotPassword.typeRecover=='sms'">
                <input name="codeInput" class="registration__input" type="text" #confirmCodeInput="ngModel" [(ngModel)]="smsRecoverData.confirmCode" />
            </div>
            <div *ngIf="authForgotPass.isBlockedButton" style="color:dimgrey;font-size: 12px;">Повторная отправка возможна через: {{ time }}</div>
            <div class="container__row">
                <button *ngIf="!smsRecoverData.codSended" (click)="submit()" class="login__button" [ngClass]="{'disabled-button' : (forgotPassword.typeRecover==='email' ? emailInput.invalid : smsInput.invalid) }">{{'Отправить' | translate}}</button>
                <button *ngIf="smsRecoverData.codSended && forgotPassword.typeRecover=='sms'" class="login__button" (click)="redirectToResetPassword()">{{'Подтвердить' | translate}}</button>
                <button [ngClass]="{'disabled-button' : authForgotPass.isBlockedButton }" *ngIf="smsRecoverData.codSended && forgotPassword.typeRecover=='sms'" (click)="submit()" class="login__button" style="margin-left: 8px;">{{'Отправить снова' | translate}}</button>
            </div>
        </div>
        <div *ngIf="inProcess">
            <div class="container__row">
                <div class="autodoc-loader"></div>
            </div>
        </div>
    </div>
</form>
