<div class="main-height">
    <form novalidate>
        <div class="order-section__step-box" style="padding: 15px;" *ngIf="!inProcess">
            <div class="container__row">
                <span class="login__label">{{'Введите новый пароль' | translate}}</span>
                <input name="newpass" class="login__input" type="password" [(ngModel)]="model.newPassword" #p1="ngModel" required pattern="{{ patterns.PASSWORD_PATTERN }}" />
                <div *ngIf="!p1.valid && !p1.untouched" class="alert__alert-danger">
                    {{'Некорректный пароль' | translate}}
                </div>
            </div>
            <div class="container__row">
                <span class="login__label">{{'Повторите пароль' | translate}}</span>
                <input name="repeatpass" class="login__input" type="password" [(ngModel)]="model.repeatPassword" #p2="ngModel" required pattern="{{ patterns.PASSWORD_PATTERN }}" />
                <div *ngIf="!p2.valid && !p2.untouched" class="alert__alert-danger">
                    {{'Некорректный пароль' | translate}}
                </div>
            </div>
            <div class="container__row">
                <button class="repeatPassword__button" [ngClass]="{'disabled-button' : p1.invalid  || p2.invalid}" (click)="changePassword()">{{'Изменить пароль' | translate}}</button>
            </div>
        </div>
        <div *ngIf="inProcess">
            <div class="container__row">
                <div class="autodoc-loader"></div>
            </div>
        </div>
    </form>
</div>

