.review {
    &__holder-title {
        padding: 0 0 10px;
        border-bottom: 1px solid #999;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #666;
        display: block;
    }

    &__holder-title {
        padding: 0 0 10px;
        border-bottom: 1px solid #999;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #666;
        display: block;
    }
}
