<!-- FOR MANUAL TRANSLATE -->
<!-- Некоторых переводов нет на сайте тк они не указаны явно (как ниже) -->
<!-- Вручную их тоже нельзя добавить, только с помощью extract команды -->

<!-- filter-dropdown.component.html placeholder field -->
<div>{{'Выберите марку' | translate}}</div>
<div>{{'Выберите серию' | translate}}</div>
<div>{{'Выберите модель' | translate}}</div>
<div>{{'Выберите год' | translate}}</div>
<div>{{'Выберите модификацию' | translate}}</div>

<!-- product.component.html tab name -->
<div>{{'Основная информация' | translate}}</div>